<template>
  <div class="container-xs bg-dark">
    <p style="font-size: 25px;">saddening</p>
    </div> 
   <div class="container-xs bg-dark" id = "wholebody">
      
            <div class="col-sm-2 services-section" id="mainbar">
                <div class="row">
                <img alt="Audio Logo" src="./assets/alogo.png" class="img-fluid img-responsive" id="salogo" >
                <div class="btn-group-vertical">
                <a><button type="button" class="btn btn-sm" id = "button1" data-bs-toggle="modal" data-bs-target="#myModal" >
               <strong>Upload Music</strong>
                </button></a>
                <a><button type="button" class="btn btn-sm " id = "button1" ><strong>All Songs</strong></button></a>
                 <a><button type="button" class="btn btn-sm " id = "button1" data-bs-toggle="modal" data-bs-target="#Createplaylist">
               <strong>Create Playlist</strong>
                </button></a>
                   <a> <button type="button" class="btn text-dark" id = "button2"><u>Playlist 1</u></button></a>
                    <a><button type="button" class="btn text-dark" id = "button2"><u>Playlist 2</u></button></a>
                   <a> <button type="button" class="btn text-dark" id = "button2"><u>Playlist 3</u></button></a>
                   <a> <button type="button" class="btn text-dark" id = "button2"><u>Playlist 4</u></button></a>
                </div>
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                      <!-- Modal Header -->
                            <div class="modal-header text-white border border-secondary bg-dark">
                                <h7 class="modal-title">Upload Music</h7>
                            </div>
                      <!-- Modal body -->
                            <div class="modal-body" style ="background-color: #D5BDA5">
                                <form>
                                  <div class="form-group">
                                    <label for="exampleFormControlFile1"> </label>
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                  </div>
                                </form>
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" style = "float: right;margin-left:10pt;">Cancel</button>
                            
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" style = "float: right;">Upload</button>
                            </div>
                     
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="Createplaylist">
                    <div class="modal-dialog">
                        <div class="modal-content">
                      <!-- Modal Header -->
                            <div class="modal-header text-white border border-secondary bg-dark">
                                <h7 class="modal-title">Create Playlist</h7>
                            </div>
                      <!-- Modal body -->
                            <div class="modal-body" style = "background-color:#D5BDA5;">
                                <form>
                    <input type="text" class="form-control" placeholder=" " style = "margin-bottom: 10pt;">
                 </form>
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" style = "float:right; margin-left:10pt;">Cancel</button>
                            
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" style = "float:right;">Create</button>
                            </div>
                     
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-sm-10" id = "mainbar2">
                <form>
                    <input type="text" class="w-25 p-3 form-control form-control-sm mt-3" placeholder="Search">
                </form>
                <p id = "textsz">All Songs</p> 
                <table class="table table-bordered table-xs table-hover table-responsive">
                  <thead class="tablehead">
                    <tr>
                      <th scope="col">  </th>
                      <th scope="col">Title</th>
                      <th scope="col">Artist</th>
                      <th scope="col">Album</th>
                        <th scope="col">Duration</th>
                    </tr>
                  </thead>
                  <tbody class = "tablebody">
                    <tr>
                      <th scope="row"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                  <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                </svg></th>
                      <td>Dive</td>
                      <td>Ed Sheeran</td>
                      <td>Divide</td>
                      <td>3:58</td>
                    </tr>
                    <tr>
                      <th scope="row"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                  <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                </svg></th>
                      <td>Billionaire</td>
                      <td>Travie McCoy ft. Bruno Mars</td>
                      <td>Lazarus</td>
                      <td>3:33</td>
                    </tr>
                    <tr>
                      <th scope="row"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                  <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                </svg></th>
                      <td>Silhouette</td>
                      <td>KANA-BOON</td>
                      <td>N/A</td>
                      <td>4:25</td>
                    </tr>
                  </tbody>
                </table>
            
        
         <div class="container-xs " style = "width:99%" >
        <div class="row">
            <div class="col-xs text-center" style="background-color: #928575; height: 103pt;"   >
            
                <p> </p>
            <form>  <div class="progress " style = "height: 3px; width: 70%; margin-left: auto; margin-right:auto; margin-bottom: 20pt; margin-top: 20pt;">
                    <div class="progress-bar bg-dark" style="width:25%"></div>
               </div> 
            </form>
               <div class="btn-group text-center ">
                <div class="btn-group btn-group-xs">
                    <b> <button class="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-skip-backward " viewBox="0 0 16 16 ">
                <path d="M.5 3.5A.5.5 0 0 1 1 4v3.248l6.267-3.636c.52-.302 1.233.043 1.233.696v2.94l6.267-3.636c.52-.302 1.233.043 1.233.696v7.384c0 .653-.713.998-1.233.696L8.5 8.752v2.94c0 .653-.713.998-1.233.696L1 8.752V12a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm7 1.133L1.696 8 7.5 11.367V4.633zm7.5 0L9.196 8 15 11.367V4.633z"/>
                </svg>
                    </button>
                   </b>
                 <button class="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                </svg>
                    </button>
                <button class="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-skip-forward" viewBox="0 0 16 16">
                <path d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.752l-6.267 3.636c-.52.302-1.233-.043-1.233-.696v-2.94l-6.267 3.636C.713 12.69 0 12.345 0 11.692V4.308c0-.653.713-.998 1.233-.696L7.5 7.248v-2.94c0-.653.713-.998 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5zM1 4.633v6.734L6.804 8 1 4.633zm7.5 0v6.734L14.304 8 8.5 4.633z"/>
                </svg>
                    </button>
                
            </div>
                   </div>
           </div>
           
        </div>
      </div>
    </div>
    </div>
    

  
  <HelloWorld msg="Mp3 Player"/>
</template>



<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
  #salogo{
    margin-top: 20pt;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10pt;
    height:100pt;
    width:130pt;
    display: block;
  }
  #wholebody{
    margin-top: -12pt;
    
   display: flex;
  }
  #wholebody > *:nth-child(1){
  flex:1 1 30;
}
#wholebody > *:nth-child(2){
  flex:1 1 70;
}
  #mainbar{
  background-color: #928575;

  }
   #mainbar2{
  background-color: #D1B488;
    width: 83%;
  }
  
  #button1{
    outline: none;
    font-family: 'Roboto Condensed';
    font-size: 18pt;
    background-color: #928575;
  }
  #button2{
    font-family:'Roboto Condensed' ;
    font-size: 15pt;
    background-color: #928575;
    
  }
  #textsz{
    padding-top: 20pt;
   padding-bottom: 40pt;
    font-size: 40pt;
    font-family: 'Righteous';
   
  }
  table.table-bordered{
    border:1px solid black;
    margin-top:20px;
  }
  table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}
.tablehead{
    font-size:28pt;
    background-color: #D5BDA5;
}
.tablebody{
    font-size: 15pt; 
    background-color: #EDD6B4;
}
table{
  text-align: center;
    
}
button{
  background-color: #928575;
border:none;
}
#button1:hover{
  background-color: #D1B488;
}
#button2:hover{
  background-color: #D1B488;
}
@media only screen and (max-width: 768px) {
    #mainbar {
        margin-left: 0;
        display: none;
    }
    #mainbar2{
      width:100%;

    }
}
</style>
