
@font-face {
    font-family: myFirstFont;
    src: url(Righteous-Regular.ttf);
}

@font-face {
    font-family: mySecondFont;
    src: url(RobotoCondensed-Regular.ttf);
}
@media only screen and (max-width: 700px){
    #sidecontainer{
        display:none;
        
    }
    #tabletable tablehead{
        font-size: 20pt;
    }
    #main{
        width: 500pt;
    }
}
.col-sm-3{
    background-color: #928575; 
}
.col-sm-3 gg{
    align-self: center;
}
.col-sm-9{
    background-color: #D1B488; 
    margin-right: 0pt;
    margin-bottom: 0pt;
}
.services-section img {
    padding-top: 10pt;
    width: 150px;
    height: 150px;
    margin: auto;    
    display: block;
}
.text-left{
    font-family: mySecondFont;
    line-height: 33px;
    text-decoration-line: underline;
}
.btn{
    font-family: mySecondFont;
    color: black
   
   padding-right: 20pt;
}
.form-control{
    font-family: myFirstFont;
    
}
h1{
    font-family: myFirstFont;
    padding-top:50pt;
    padding-bottom: 40pt;
}
table{
    margin-left: 0pt;
     font-family: myFirstFont;
    text-align: center;
    
}
.tablehead{
    font-size:28pt;
    background-color: #D5BDA5;
}
.tablebody{
    font-size: 15pt; 
    background-color: #EDD6B4;
}
table.table-bordered{
    border:1px solid black;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}
svg{
    display: inline;
    width: 40px;
    height: 40px;
}
.col-sm-4{
    background-color: #928575;   
}

.col-sm-9{
    background-color: #D1B488;   
}
.progress{
   align-content: flex-start
    
}
.col-sm-7{
    background-color: #928575;   
   
}
.col-sm-5{
    background-color: #928575;   
   
}
.modal-header{
    font-size: 10pt;
    background-color: #787A91;
}
.modal-body{
    background-color: #D1B488;
    border-color: #D1B488;
}
.modal-content{
    font-family: myFirstFont;
}
.btn-group-vertical{
    padding-top: 10pt;
}
.modal-body button{
   float: right;
    margin-left: 5pt;
    margin-top: 10pt;
}
.progress{
margin-top: 25pt;
    margin-bottom: 20pt;
    margin-left: auto; margin-right:auto; 
}

p{
    padding-top: 10pt;
    padding-bottom: 6pt;
    font-family: myFirstFont;
    font-size: 60px;
}
.btn-group{
    margin-bottom: 9pt;
}
    

