*{
	margin: 0;
	padding: 0;
	font-family: myFirstFont;
}
@font-face {
    font-family: myFirstFont;
    src: url(Mogra-Regular.ttf);
}
.logoz{
    position:absolute;
    top:5px;
    left:10px;
    font-size:60px;
}
li{
    display: inline; 
}

.nav-link{
    color:#000;
}
svg{
    
    margin:auto;
    display:block;
    
}
text{
    font-size:72px;
    
}
message{
    font-size:48px;
}
gg{
    font-size:48px;
    
}
.logos img{
   
    width:18px;
}
.logoss img{
    
    width:18px;
}
.logosss img{
    
    width:18px;
}
men{
    margin-bottom: 10px:
}

